#shareContainer{
    left:20px;
    top:5px;
    position:relative;
    width:160px;
    margin:auto;
}

#loadMore{
    position:relative;
    margin:auto;
    width:250px;
    height:30px;
    display:block;
}
.shareIcon{
    width:20px;
    margin-top:3px;
}
#topContainer{
    top:350px;
}
#editText{
    cursor:pointer;
    color:black;
    font-weight:800;
}
#editText.active{
    color:#51bb75;
}