
#saveForm{
    background-color:white;
    width:370px;
    height:44px;
    text-align:center;
    display:inline-block;
    position:absolute;
    top:446px;
    padding:15px;
    border-radius:0px;
    border:none;
    opacity:0.85;
    z-index: 3;
    margin-left:20px;
}

#canvas{
    border-width:20px;
    border-style: solid;
    display:inline-block;
    position:absolute;
    left:0px;
}
#extraction_container{
    top:100px;
    height:810px;
}
#pic{
    position:absolute;
    top:100px;
    left:0px;
    border-width:30px;
    border-style:solid;
}
#previewpoint{
    width:8.5px;
    height:8.5px;
    position:absolute;
    border-radius: 50px 50px 50px;
    border:2px solid white;
    z-index:1;
    bottom:0px;
    left:500px;
}
#previewpoint2{
    width:4.5px;
    height:4.5px;
    position:absolute;
    border-radius: 50px 50px 50px;
    border:2px solid black;
    z-index:1;
    bottom:0px;
    left:500px;
}
#previewform{
    position:relative;
    left:0px;
    top:10px;
}
#canvas_background{
    background: url('/img/bg.png');
    opacity:1;
    position:relative;
    height:540px;
    width:440px;
    margin:auto;
    top:125px;
    z-index:0;
}
.imageContainer{
    width: 200px; 
    height: 200px; 
    overflow: hidden;
    position:relative;
    display:inline-block;
    padding:5px;
    background-color:#fbfbfb;
}

.itemAction{
    display:none;
    bottom:5px;
    left:10px;
}
.itemAction:hover{
    cursor:pointer;
}
.eyedropper{
    display:none;
}
#extractionHeading{
    top:175px;
    left:10%;
    position:absolute;
    color:#58595B;
    font-family: "Century Gothic";
    font-size:40px;
    width:80%;
}
#uploadsTitle{
    top:50px;
  
}
img.itemActionImage{
    height:20px;
    box-shadow:0px 0px 3px 3px transparent;
    border-radius:50px;
    background-color: transparent;
}
img.itemActionImage:hover{
    box-shadow:0px 0px 3px 3px #51BB75;
    border-radius:50px;
    background-color: #51BB75;
}
.extractionForm{
    padding:5px;
    border-radius:0px;
    border:0px ridge;
    color:black;
    background-color:transparent;
    text-shadow: 0px 0px 0px #050504;
    margin-top:9px;
    width:283px;
    height: 26px;
    position: absolute;
    display: inline;
    top: -9px;
    left: 0px;
}
.extractionForm:focus{
    outline: none;
}
#extractionLink{
    top:85px;
    width:430px;
    line-height:20px;
    left:-20px;
}
.emptyPrompt{
    text-decoration:none;
}
