#matchpanel{
    top:-110px;
    left: -24px;
    position:absolute;
    width:920px;
    height: 100px;
    z-index:0;
}
#description_container{
    background-color: white;
    opacity:0.7;
    width:625px;
    height:355px;
    display:inline-block;
}
#hueHeading{
    color:#58595B;
    position:absolute;
    font-size:40px;
    top:-55px;
}
#hueContainer{
    margin:auto;
    width:1130px;
    margin-top:150px;
    opacity:1;
    padding:15px;
    position:relative;
    background:url('/img/bg.png');
    min-height:415px;
    height:auto;
    padding-top:25px;
}
#desc_color_holder{
    margin:auto;
    position:absolute;
    top:40px;
    width:150px;
    right:50px;
}
.schemeContainer{
    left:-3px;
    top: -2px;
    position:relative;
    padding-left: 28px;

}
.colorBar{
    height:300px;
    width:60px;
    padding:3px;
    display:inline-block;
}
.schemeName{
    color:#58595B;
    font-family:"Century Gothic";
}
#schemeDescription{
    color:#58595B;
    background-color:#FFFFFF;
    bottom: 0px;
    height: 175px;
    text-align:center;
    font-size:18px;
    padding:15px;
    width: 170px;
    display:none;
    z-index: 3;
    font-family: Quicksand;
    font-size: 20px;
}
table#matchpanel tr{
    display: inline-block
}

.scheme_box{
    background-color:#fbfbfb;
    opacity:0.75;
    bottom:0px;
    margin:auto;
    padding:10px;
    padding-right:0px;
    padding-left:20px;
    height:90px;
    min-width:245px;
    left:12.5%;
}
.picture_box{
    height:auto;
    width:370px;
    border-radius: 0px;
    max-height:650px;
    background-color:transparent;
    opacity:0.9;
    overflow:hidden;
    bottom:117px;
    margin:auto;
    left:12.5%;
    margin-top:12px;
}
#extraction_picture{
    max-width:263px;
    bottom:110px;
    position:absolute;
}
#item_display{
    width:60%;
    position:relative;
    margin:auto;
    left:120px;
}
.matchButtons{
    position:absolute;
    z-index:1;
    width:885px;
    padding-right:0px;
    margin-top:-107px;
    left: 1px;
    height: 40px;
}

#matchContainer{
    width:90%;
    margin:auto;
    margin-left:2%;
    position:absolute;
    margin-top:160px;
    padding-top:38px;
}
#side_container{
    position:fixed;
    top:130px;
}
#main_container{
    width:880px;
    z-index:1;
    margin-left:400px;
    position:relative;
    top:50px;
    background:url('/img/bg.png');
}
#matchHeading{
    color:#808285;
    font-size:40px;
    font-family:"Century Gothic";
    top:75px;
    left:141px;
    position:absolute;
}


.matchTab{
    list-style: none;
    background-color:white;
    display:inline-block;
    border-radius:5px;
    width:200px;
    text-decoration:none;
    text-align:center;
    font-family:"Century Gothic";
    border:1px ridge transparent;
    padding:5px;
}
.matchTab:hover, .sourceButton:hover{
    cursor:pointer;
}
.active{
    background-color:#51BB75;
    color:white;
}
.matchPage{
    height:100%;
    padding: 15px 20px;
    border-radius:3px;
}

.storeMatch{
    opacity:1;
    border:none;
    display:block;
    width:500px;
    margin:70px auto;
    margin-bottom:110px;
    position:relative;
}
.storeBar1, .storeBar2, .storeBar3{
    border-radius:2px;
    margin:2px;
    margin-top:5px;
    position:absolute;
    display:inline-block;
    height:99%;
    width:50px;
}
.storeBar1{
    right:100px;
}
.storeBar2{
    right:50px;

}
.storeBar3{
    right:0px;
}
.storeTitle{
    left:-100px;
    top:-30px;
    width:675px;
    position:absolute;
}
.storeUrl{
    text-decoration:none;
    color:white;
}
.storeLink{
    width:330px;
    bottom:0px;
    position:absolute;
    padding:10px;
    color:white;
    text-align:center;
    background-color:#51BB75;
}
.storeLink:hover{
    cursor:pointer;
    background-color:#58595B
}
.storePrice{
    background-color:#51BB75;
    color:white;
    padding:15px 10px;
    font-size:25px;
    position:absolute;
    top:50px;

}

.finePrint{
    font-size:13px;
    color:black;
    width:99%;
    display:block;
}
#itemSort{
    display:none;
    padding: 15px 20px;
}

.schemePreview{
    display:inline-block;
    font-size:20px;
}

.matchSchemeColumn{
    vertical-align: top;
    padding:1px;
}
.clicked{
    background-color:white;
}
.sourceButton{
    padding:14px 30px;
    list-style: none;
    display: inline;
    text-indent:20px;
}
input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
}
.matchCheckbox{
    cursor:pointer;
}
#addToOutfitButton{
    cursor:pointer;
    width:300px;
    font-size:27px;
    height:70px;
    bottom:0px;
    position:fixed;
    z-index:3;
}
#signupMessage{
    width:100%;
    background:url('img/bg.png');
    display:block;
    text-align:center;
    position:relative;
    font-size:25px;
    padding:123px 0px;
    color:#51bb75;
    cursor:pointer;
}