.scheme_box{
    background-color:#fbfbfb;
    opacity:0.75;
    bottom:0px;
    margin:auto;
    padding:10px;
    padding-right:0px;
    padding-left:20px;
    height:90px;
    min-width:245px;
    left:12.5%;
}
.picture_box{
    height:385px;
    width:263px;
    border-radius: 5px;
    max-height:500px;
    background-color:transparent;
    opacity:0.9;
    overflow:hidden;
    bottom:117px;
    margin:auto;
    left:12.5%;
}
#extraction_picture{
    max-width:263px;
    bottom:110px;
    position:absolute;
}
#item_display{
    width:60%;
    position:relative;
    margin:auto;
    left:120px;
}
.matchButtons{
    width:100%;
    margin:auto;
    margin-top:100px;
}

#matchContainer{
    width:1084px;
    margin:auto;
    padding-top:50px;
}
#side_container{
    width:263px;
    position:fixed;
    bottom:0px;
}
#main_container{
    width:788px;
    margin-left:280px;
}
#matchHeading{
    color:#808285;
    font-size:40px;
    font-family:"Century Gothic";
    top:75px;
    left:141px;
    position:absolute;
}


.matchTab{
    list-style: none;
    background-color:white;
    display:inline-block;
    border-radius:5px;
    width:200px;
    text-decoration:none;
    text-align:center;
    font-family:"Century Gothic";
    border:1px ridge transparent;
    padding:5px;
}
.matchTab:hover{
    cursor:pointer;
}
.active{
    background-color:#51BB75;
    color:white;
}
.matchPage{
    background:url('/img/bg.png');
    opacity:0.9;
    min-height:435px;
    height:100%;
    padding: 15px 20px;
    border-radius:3px;
}

.storeMatch{
    opacity:0.85;
    border:none;
    display:block;
    width:420px;
    margin:70px auto;
    margin-bottom:110px;
    position:relative;
}
.storeBar1, .storeBar2, .storeBar3{
    border-radius:2px;
    margin:2px;
    margin-top:5px;
    position:absolute;
    display:inline-block;
    height:99%;
    width:50px;
}
.storeBar1{
    right:100px;
}
.storeBar2{
    right:50px;

}
.storeBar3{
    right:0px;
}
.storeTitle{
    left:-100px;
    top:-30px;
    width:600px;
    position:absolute;
}
.storeUrl{
    text-decoration:none;
    color:white;
}
.storeLink{
    width:330px;
    bottom:0px;
    position:absolute;
    padding:10px;
    text-align:center;
    background-color:#51BB75;
}
.storeLink:hover{
    cursor:pointer;
    background-color:#58595B
}
.storePercent{
    background-color:#51BB75;
    color:white;
    padding:5px;

}