#matchpanel{
    top:113px;
    left: 445px;
    position:absolute;
    width:70%;
    height: 800px;
    z-index:0;
}
#description_container{
    background-color: white;
    opacity:0.7;
    width:625px;
    height:355px;
    display:inline-block;
}
#hueHeading{
    color:#58595B;
    position:absolute;
    font-size:40px;
    top:-55px;
}
#hueContainer{
    margin:auto;
    width:1130px;
    margin-top:150px;
    opacity:1;
    padding:15px;
    position:relative;
    background:url('/img/bg.png');
    min-height:415px;
    height:auto;
    padding-top:25px;
}
#desc_color_holder{
    margin:auto;
    position:absolute;
    top:40px;
    width:150px;
    right:50px;
}
.schemeContainer{
    left:-3px;
    top: -2px;
    position:relative;
    padding-left: 28px;
        
}
.colorBar{
    height:300px;
    width:60px;
    padding:3px;
    display:inline-block;
}
.schemeName{
    color:#51BB75;
    font-family:"Century Gothic";
}
#schemeDescription{
    position: absolute;
    color:white;
    background-color:#51BB75;
    bottom: 0px;
    height: 200px;
    text-align:center;
    font-size:18px;
    padding:45px;
    padding-top:50px;
    width: 170px;
    display:none;
    top: 133px;
    left: 325px;
    z-index: 3;
    font-family: Quicksand;
    font-size: 20px;
}
table#matchpanel tr{
    display: inline-block
}

.scheme_box{
    background-color:#fbfbfb;
    opacity:0.75;
    bottom:0px;
    margin:auto;
    padding:10px;
    padding-right:0px;
    padding-left:20px;
    height:90px;
    min-width:245px;
    left:12.5%;
}
.picture_box{
    height:385px;
    width:300px;
    border-radius: 5px;
    max-height:500px;
    background-color:transparent;
    opacity:0.9;
    overflow:hidden;
    bottom:117px;
    margin:auto;
    left:12.5%;
}
#extraction_picture{
    max-width:263px;
    bottom:110px;
    position:absolute;
}
#item_display{
    width:60%;
    position:relative;
    margin:auto;
    left:120px;
}
.matchButtons{
    width:100%;
    position:absolute;
    z-index:3;
    
    
}

#matchContainer{
    width:1084px;
    margin:auto;
    margin-top:120px;
    padding-top:50px;
}
#side_container{
    width:300px;
    position:fixed;
    top:102px;
    left:50px;
}
#main_container{
    width:838px;
    z-index:1;
    margin-left:280px;
    position:relative;
    top:50px;
    background:url('/img/bg.png');
}
#matchHeading{
    color:#808285;
    font-size:40px;
    font-family:"Century Gothic";
    top:75px;
    left:141px;
    position:absolute;
}


.matchTab{
    list-style: none;
    background-color:white;
    display:inline-block;
    border-radius:5px;
    width:200px;
    text-decoration:none;
    text-align:center;
    font-family:"Century Gothic";
    border:1px ridge transparent;
    padding:5px;
}
.matchTab:hover{
    cursor:pointer;
}
.active{
    background-color:#51BB75;
    color:white;
}
.matchPage{
    height:100%;
    padding: 15px 20px;
    border-radius:3px;
}

.storeMatch{
    opacity:1;
    border:none;
    display:block;
    width:500px;
    margin:70px auto;
    margin-bottom:110px;
    position:relative;
}
.storeBar1, .storeBar2, .storeBar3{
    border-radius:2px;
    margin:2px;
    margin-top:5px;
    position:absolute;
    display:inline-block;
    height:99%;
    width:50px;
}
.storeBar1{
    right:100px;
}
.storeBar2{
    right:50px;

}
.storeBar3{
    right:0px;
}
.storeTitle{
    left:-100px;
    top:-30px;
    width:675px;
    position:absolute;
}
.storeUrl{
    text-decoration:none;
    color:white;
}
.storeLink{
    width:330px;
    bottom:0px;
    position:absolute;
    padding:10px;
    color:white;
    text-align:center;
    background-color:#51BB75;
}
.storeLink:hover{
    cursor:pointer;
    background-color:#58595B
}
.storePrice{
    background-color:#51BB75;
    color:white;
    padding:15px 10px;
    font-size:25px;
    position:absolute;
    top:50px;

}

#itemSort{
    display:none;
    padding: 15px 20px;
}
