/* For static pages such as jobs, terms, privacy */
#agreement_text{
    font-size:20px;
    font-family: inherit;
}

#agreement_prompt{
    font-size:20px;
    font-stretch: expanded;
}

.jobText{
    font-size:18px;
    font-family:"Quicksand";
}

#jobTitle{
    font-size:22px;
    font-family:"Quicksand Bold";
}
#staticContainer ul{
    margin-top:5px;
    margin-left:25px;
}
$staticContainer ul li{
    margin-bottom:5px;
}
#staticContainer{
    width:60%;
    padding:40px 65px;
    top:100px;
    margin:auto;
    position:relative;
    background:url('/img/bg.png');
}
.jobHeading{
    font-family:"Quicksand Bold";
}