/* For static pages such as jobs, terms, privacy */
#agreement_text{
    font-size:20px;
    font-family: inherit;
}

#agreement_prompt{
    font-size:20px;
    font-stretch: expanded;
}

.jobText{
    font-size:18px;
    font-family:"Quicksand";
}

#jobTitle{
    font-size:20px   
}
#staticContainer ul{
    
}
#staticContainer{
    width:80%;
    top:100px;
    margin:auto;
    position:relative;
}