.upload_tab{
    color:#58595B;
    border: none;
    opacity:1;
    left:0px;
    background-color:transparent;
    position:absolute;
    top:-45px;
    font-size:40px;
    font-family:"Quicksand";
}
.upload_tab:hover{
    cursor:pointer;
}
.thumbnail_frame{
    width: 200px; 
    height: 200px;
    overflow: hidden;
    position:relative;
    display:inline-block;
    padding:0px;
    background-color:#fbfbfb;
    border:transparent 6px solid;
}
.added {
    border-color: #5bb75b;
}
.importButton{
    width:250px;
    border:1px ridge transparent;
    color:white;
    background-color:#51BB75;
    border-radius:3px;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;
    font-family:"Quicksand";
    font-size:18px;
}
.importButton:hover{
    cursor:pointer; 
}
#uploadUrl{
    background-color:#51BB75;
    position:absolute;
    top:0px;
    height:29px;
    width:40px;
    border-radius:3px;
    right:-3px;
    border:0px ridge transparent;
}
#urlForm{
    position:relative;
}
.urlInput{
    width:235px;
    border-radius:3px;
    font-family:"Quicksand";
    font-size:15px;
    padding:1px;
    padding-left:15px;
    position:relative;
    border:1px ridge #808285;
    height:25px;
}
#bulkButton{
    font-size:22px;
    height:35px;
    padding-left:25px;
    padding-right:25px;
    position:absolute;
    font-family:"Quicksand";
    top:1px;
    right:0px;
}
#fbphoto_instruction, #igphoto_instruction{
    cursor:pointer;
    text-decoration:underline;
}
.historypage{ 
    display:block;
    z-index:1;
}

/* PROGRESS BAR*/
#progress { position:absolute; width:249px; border: 1px solid #ddd; border-radius: 3px;}
#bar { background-color: #51BB75; width:0%; height:25px; border-radius: 3px; }
#percent { position:absolute; display:inline-block; top:3px; left:47%; }
#message{
    margin-top:15px;
    color:#51BB75;
    text-align:center;
}

#message:hover{
    text-decoration:underline;
}
a.visited{
    color:#51BB75;
}