RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^signup?$           /index.php?page=user_signup       [NC,L]
RewriteRule    ^recover?$          /index.php?page=password_recovery [NC,L]               
RewriteRule    ^closet/([a-zA-Z0-9_-]+)$     /closet.php?username=$1 
RewriteRule    ^closet/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$    /closet.php?username=$1&view=$2  
RewriteRule    ^extraction?$      /extraction.php
RewriteRule    ^extraction/(.*)$  /extraction.php?tab=$1
RewriteRule    ^beta/(.*)$        /beta.php?key=$1
RewriteRule    ^tag?$             /tag.php   
RewriteRule    ^search?$          /search.php             
RewriteRule    ^upload?$          /history.php                      [NC,L]
RewriteRule    ^account?$         /account.php                      [NC,L]
RewriteRule    ^logout?$          /logout.php                       [NC,L]
RewriteRule    ^match?$           /match.php                        [NC,L]
RewriteRule    ^hive?$            /feed.php                         [NC,L]
RewriteRule    ^hue?$             /hue.php                         
RewriteRule    ^hue/(.*)$         /hue.php?itemid=$1        
RewriteRule    ^unsupported?$     /unsupported.php                  [NC,L]
RewriteRule    ^welcome?$         /welcome.php                   [NC,L]
RewriteRule    ^home?$            /trending.php                     [NC,L]
RewriteRule    ^jobs?$            /static/jobs.php                  [NC,L]
RewriteRule    ^faq?$             /static/faq.php                   [NC,L]
RewriteRule    ^terms?$           /static/terms.php                 [NC,L]
RewriteRule    ^privacy?$         /static/privacy.php               [NC,L]
RewriteRule    ^sting?$           /sting.php                        [NC,L]
RewriteRule    ^feedback?$           /feedback.php                  [NC,L]
ErrorDocument 404 /404.php
php_value upload_max_filesize 21M
php_value post_max_size 21M